{% extends 'base.html.twig' %}

{% block title %}Shothes - Accueil{% endblock %}

{% block body %}
    <div class="home">
        <div class="banner_header">
            <h2 class="header_title">SHOTHES APP</h2>
            <div class="line_separator"></div>
            <button class="button_header">Notre boutique</button>
        </div>
        <div class="popular_categories">
            <h2>Les catégories populaires</h2>
            <div class="list_popular_categories">
                {% for category in categories %}
                    <div class="single_category">
                        <a href="{{ path('app_category_show', {'id': category.id }) }}">
                            <img src="{{ asset(category.categoryIconPath) }}" alt="">
                            <h4>{{ category.categoryName }}</h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="shop_container">
            <div class="left_column">
                <h3>Envie de créer votre boutique ?</h3>
                <p>Créez votre boutique dans votre espace personnel et modifiez la comme bon vous semble afin d'y acheter le nombre de produits que vous souhaitez.</p>
                <button>S'inscrire maintenant</button>
            </div>
            <div class="right_column">
                <img src="{{ asset('build/images/home_img_2.jpg') }}" alt="" width="100%">
            </div>
        </div>
        <div class="list_icons_container">
            <div class="support">
                <img src="https://img.icons8.com/ios-filled/50/000000/phone.png" width="50px"/>
                <p>Support 24/7</p>
                <p>Vous pouvez nous contacter n'importe quand</p>
            </div>
            <div class="return_days">
                <img src="https://img.icons8.com/ios-filled/50/000000/return.png" width="50px"/>
                <p>Retours sous 7 jours</p>
                <p>Vous avez 7 jours pour retourner votre produit</p>
            </div>
            <div class="secure_payment">
                <img src="https://img.icons8.com/ios/50/000000/card-security.png" width="50px"/>
                <p>Paiements sécurisés</p>
                <p>Nous assurons la sécurité de tous vos paiements</p>
            </div>
            <div class="free_shipping">
                <img src="https://img.icons8.com/external-bartama-outline-64-bartama-graphic/64/000000/external-Shipping-e-commerce-outline-bartama-outline-64-bartama-graphic.png" width="50px"/>
                <p>Livraison gratuite</p>
                <p>Livraison gratuite dans toute la France</p>
            </div>
        </div>
        <footer>
            <div class="row_footer">
                <div class="buy_column column_footer">
                    <p class="list_footer_title">Acheter</p>
                    <ul>
                        <li>
                            <a href="">Liste des produits</a>
                        </li>
                        <li>
                            <a href="">Liste des catégories</a>
                        </li>
                    </ul>
                </div>
                <div class="sell_column column_footer">
                    <p class="list_footer_title">Vendre</p>
                    <ul>
                        <li>
                            <a href="">Créer sa boutique</a>
                        </li>
                        <li>
                            <a href="">S'inscrire</a>
                        </li>
                        <li>
                            <a href="">Se connecter</a>
                        </li>
                    </ul>
                </div>
                <div class="about_column column_footer">
                    <p class="list_footer_title">À propos</p>
                    <ul>
                        <li>
                            <a href="">Conditions générales de vente</a>
                        </li>
                        <li>
                            <a href="">À propos</a>
                        </li>
                        <li>
                            <a href="">Mentions légales</a>
                        </li>
                    </ul>
                </div>
                <div class="help_column column_footer">
                    <p class="list_footer_title">Aide</p>
                    <ul>
                        <li>
                            <a href="">Centre d'aide</a>
                        </li>
                        <li>
                            <a href="">Confiance et sécurité</a>
                        </li>
                        <li>
                            <a href="">Paramètres de confidentialité</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
