.login {

/*.formulaireConnexion {

  margin-top: 5% !important;
  margin-left: 20% !important;
  margin-right: 20% !important;
  border-radius: 5px !important;
  border: ridge;
  padding: 2%;
}
 h1 {
   margin-bottom: 1% !important;
 }

  label {
    margin-bottom: 1% !important;
    margin-top: 1% !important;
  }

  button {
    margin-top: 3% !important;
    background-color: black !important;
    border: black !important;
    color: white !important;

  }*/
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;

  .left_column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left_column form {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
  }

  .left_column .form_login_input {
    margin-bottom: 30px;
    outline: none;
    padding: 0.375rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-bottom: 1px solid #ced4da;
  }

  .left_column .button-submit {
    background-color: black;
    border-radius: 20px;
    padding: 10px 5px;
    color: white;
    width: 50%;
    margin: auto;
  }

  .footer-text {
    color: #BEBEBE;
    font-size: 14px;
  }

  .right_column {
    width: 50%;
    background: center/cover url('../../../public/build/images/background_login.jpg');
  }
}