.login {


.formulaireConnexion {

  margin-top: 5% !important;
  margin-left: 20% !important;
  margin-right: 20% !important;
  border-radius: 5px !important;
  border: ridge;
  padding: 2%;
}
 h1 {
   margin-bottom: 1% !important;
 }

  label {
    margin-bottom: 1% !important;
    margin-top: 1% !important;
  }

  button {
    margin-top: 3% !important;
    background-color: black !important;
    border: black !important;
    color: white !important;

  }

}