.catalog {

  .catalog-header {
    background: center/cover url('../../../public/build/images/header/banner_4.jpg');
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-title {
    font-family: 'Poppins', sans-serif !important;
    font-size: 70px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .list-products {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .single-product {
    margin: 0 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      color: rgb(85, 85, 85);
      line-height: 1.6;
      margin: 0;
    }
  }

  .image-product {
    height: 325px;
    width: 200px;
    object-fit: cover;
  }

  .name-product {
    padding-top: 10px;
  }

  .read-more-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 5px 15px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    margin-top: 5px;
    border: 2px solid #000000;
    transition: background-color .2s linear, color .2s linear;
  }

  .read-more-button:hover {
    color: #000000;
    background-color: #FFFFFF;
  }




  // code alexis

  .catalogCard{
    display: flex;
    flex-wrap:wrap;
    margin-left: 1% !important;

  }

  .card {
    margin-left: 2% !important;
    background-color: #f6f6f6 !important;
   // border: none !important;
  }

  .img-fluid {
    min-height: 270px !important;
    min-width: 200px !important;
  }

  .card-body {
    flex: 1 1 auto;
    padding-left: 6em !important;
    padding-top: 4em !important;

  }

}