.product {
  display: flex;
  flex-direction: row;
  width: 100%;

  .list_images_product {
    width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 50px 50px 50px 0;
  }

  .product_information {
    width: 50%;
    padding: 50px 0;
    display: flex;
    justify-content: start;
  }

  .card_product-information {
    height: 100%;
    width: 70%;
    padding: 25px;
  }

  .product_category {
    font-weight: 200;
  }

  .buy_button {
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: 300;
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
    text-transform: uppercase;
  }

  .accordion {
    border-bottom: 1px solid lightgray;
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 30px 0;
  }

  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 15px;
  }

  .table_feature {
    border: 1px solid rgba(34, 34, 34, 0.15);
    width: 100%;
  }

  .table_feature td {
    border: 1px solid rgba(34, 34, 34, 0.15);
    padding: 10px;
  }

  .feature_title {
    font-weight: 600;
  }

  // ------------------------

  // Styling

  .container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .carousel {

    > input {
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
      height: 1px;
      width: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;

      &:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -500%; }
      &:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -400%; }
      &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -300%; }
      &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -200%; }
      &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -100%; }
      &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }

      &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
      &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
      &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
      &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
      &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
      &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
    }
  }

  .carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
  }

  .carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;

    figure {
      display: flex;
      margin: 0;
    }

    div {
      width: 100%;
    }

    img {
      display: block;
      flex: 1 1 auto;
      object-fit: cover;
      margin: auto;
      max-height: 536px !important;
    }

    figcaption {
      align-self: flex-end;
      padding: 20px 20px 0 20px;
      flex: 0 0 auto;
      width: 25%;
      min-width: 150px;
    }

    .credit {
      margin-top: 1rem;
      color: rgba(0, 0, 0, 0.5);
      display: block;
    }

    &.scrollable {
      overflow-y: scroll;
    }
  }

  .carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 20px -10px;

    .carousel__slides + & {
      margin-top: 20px;
    }

    li {
      flex: 1 1 auto;
      max-width: calc((100% / 6) - 20px);
      margin: 0 10px;
      transition: all 300ms ease-in-out;
    }

    label {
      display: block;

      &:hover,
      &:focus {
        cursor: pointer;

        img {
          box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
          transition: all 300ms ease-in-out;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}