.navigation {
  border-bottom: 1px solid lightgray;
  font-family: 'Montserrat', sans-serif;
  background-color: white;

  .navigation_head {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    position: relative;
  }

  .list_buttons_head {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .list_buttons_head button {
    border: 2px solid black;
    background-color: #FFFFFF;
    padding: 5px 13px;
    font-size: 13px;
    font-weight: 400;
    color: black;
    margin-right: 15px;
  }

  .list_buttons_head button:hover {
    background-color: #000000;
    color: white;
  }

  .navigation_logo {
    width: 25%;
    display: flex;
    align-items: center;
    margin-left: 25px;
  }

  .navigation_body {
    display: flex;
    justify-content: space-between;
  }

  .main-navigation {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .navigation_menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .navigation_menu li {
    display: inline-block;
    font-size: 16px;
    margin-right: 35px;
  }

  .navigation_menu a:hover {
    text-decoration: underline !important;
  }
}