{% extends 'base.html.twig' %}

{% block title %}Hello ListCategoriesController!{% endblock %}

{% block body %}

    <div class="categories">

        <h1> Catégories </h1>
        <div class="cardCategories">
            <div class="singleCard">
                <img src="{{ asset('build/images/dunk_low.jpeg') }}" alt="">
                <p>Chaussures</p>
            </div>

            <div class="singleCard">
                <img src="{{ asset('build/images/dunk_low.jpeg') }}" alt="">
                <p>Chaussures</p>
            </div>

            <div class="singleCard">
                <img src="{{ asset('build/images/dunk_low.jpeg') }}" alt="">
                <p>Chaussures</p>
            </div>

            <div class="singleCard">
                <img src="{{ asset('build/images/dunk_low.jpeg') }}" alt="">
                <p>Chaussures</p>
            </div>

        </div>
    </div>

{% endblock %}




