{% extends 'base.html.twig' %}

{% block title %}Hello ListCategoriesController!{% endblock %}

{% block body %}
    <div class="categories">
        <div class="doubleCategories">
            <div class="coterGauche">
            </div>
            <div class="coterDroite">

                <div class="row row-cols-1 row-cols-md-2 g-4">

                    <div class="col">
                        <div class="card">
                            <a href="" >
                            <img src="https://www.kenzo.com/dw/image/v2/AAUH_PRD/on/demandware.static/-/Library-Sites-SharedLibraryKenzo/default/dw36283853/home_/W6_2022_TRIBUTE/W6-9_LANDING_MEN_690X1104_Desktop_06.jpg?sw=500&sh=800" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <a href="" >
                                <img src="https://www.kenzo.com/dw/image/v2/AAUH_PRD/on/demandware.static/-/Library-Sites-SharedLibraryKenzo/default/dw36283853/home_/W6_2022_TRIBUTE/W6-9_LANDING_MEN_690X1104_Desktop_06.jpg?sw=500&sh=800" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <a href="" >
                                <img src="https://www.kenzo.com/dw/image/v2/AAUH_PRD/on/demandware.static/-/Library-Sites-SharedLibraryKenzo/default/dw36283853/home_/W6_2022_TRIBUTE/W6-9_LANDING_MEN_690X1104_Desktop_06.jpg?sw=500&sh=800" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <a href="" >
                                <img src="https://www.kenzo.com/dw/image/v2/AAUH_PRD/on/demandware.static/-/Library-Sites-SharedLibraryKenzo/default/dw36283853/home_/W6_2022_TRIBUTE/W6-9_LANDING_MEN_690X1104_Desktop_06.jpg?sw=500&sh=800" class="card-img-top" alt="...">
                            </a>
                        </div>
                    </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}




