{% extends 'base.html.twig' %}

{% block title %}Hello ListCategoriesController!{% endblock %}

{% block body %}

    <div class="categories">

        <h1>Catégories</h1>
        <div class="cardCategories">
            {% for category in categories %}
                <div class="singleCard">
                    <a href="{{ path('app_category_show', {'id': category.id }) }}">
                        <img src="{{ asset(category.categoryIconPath) }}" alt="">
                        <p>{{ category.categoryName }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}




