{{ form_start(form, {'attr': {'class': 'w-100'}}) }}
    <div class="mt-2">
        {{ form_widget(form) }}
    </div>
<button class="action-button">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
