{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    <h1>Shop</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shop.id }}</td>
            </tr>
            <tr>
                <th>Shop_name</th>
                <td>{{ shop.shopName }}</td>
            </tr>
            <tr>
                <th>Shop_created_at</th>
                <td>{{ shop.shopCreatedAt ? shop.shopCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_shop_index') }}">back to list</a>

    <a href="{{ path('app_shop_edit', {'id': shop.id}) }}">edit</a>

    {{ include('shop/_delete_form.html.twig') }}
{% endblock %}
