{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}

    <div class="shop-show">

        <div class="list-items">
                <div class="single-item">
                    <a class="w-100 d-flex flex-row" >
                        <div class="shop-icon w-25">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlsEAy9A03x0kvKJTPcb3TT4lqPpHrl5WLtsSSekz2JW9RJjy-Ksf3huZVIpDdp2hvc-k&usqp=CAU" alt="" width="60%">
                        </div>
                        <div class="w-50 d-flex flex-column justify-content-between details">
                            <h2 class="mb-4"> Nom de la Boutique </h2>
                            <p class="mb-5 pb-3"> nom prènom </p>
                            <p class="mb-0 owner"> description </p>
                        </div>
                    </a>
                </div>
        </div>

        <div class="listProduct">
            <div class="singleProduct">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlsEAy9A03x0kvKJTPcb3TT4lqPpHrl5WLtsSSekz2JW9RJjy-Ksf3huZVIpDdp2hvc-k&usqp=CAU" >
            </div>
            <div class="singleProduct">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlsEAy9A03x0kvKJTPcb3TT4lqPpHrl5WLtsSSekz2JW9RJjy-Ksf3huZVIpDdp2hvc-k&usqp=CAU" >
            </div>
            <div class="singleProduct">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlsEAy9A03x0kvKJTPcb3TT4lqPpHrl5WLtsSSekz2JW9RJjy-Ksf3huZVIpDdp2hvc-k&usqp=CAU" >
            </div>
            <div class="singleProduct">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlsEAy9A03x0kvKJTPcb3TT4lqPpHrl5WLtsSSekz2JW9RJjy-Ksf3huZVIpDdp2hvc-k&usqp=CAU" >
            </div>
            <div class="singleProduct">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlsEAy9A03x0kvKJTPcb3TT4lqPpHrl5WLtsSSekz2JW9RJjy-Ksf3huZVIpDdp2hvc-k&usqp=CAU" >
            </div>
        </div>



    </div>

{% endblock %}
