* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, textarea {
    font-family: 'Verdana', sans-serif !important;
}

h1, h2, h3, h4 {
    font-family: '.AppleSystemUIFont', sans-serif;
    font-weight: 600 !important;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: black !important;
}

button, input {
    outline: none;
    border: none;
}

@import "~bootstrap/scss/bootstrap";

// Importation des fichiers scss
@import "home/home.scss";
@import "layout/navigation.scss";
@import "catalog/catalog";
@import "catalog/product";