* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif !important;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: black !important;
}

button, input, textarea, select {
    outline: none;
    border: none;
}

.input-custom {
    color: #7a7a7a;
    background-color: #EDEDED;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.content-form-dashboard {
    font-family: 'Montserrat', sans-serif;
}

@import "~bootstrap/scss/bootstrap";

// Importation des fichiers scss
@import "home/home.scss";
@import "layout/navigation.scss";
@import "catalog/catalog";
@import "about/about";
@import "account/account";
@import "security/login";
@import "security/registration";
@import "catalog/product";
@import "shop/new-shop";
@import "user_dashboard/sidebar";
@import "user_dashboard/product/list-products";
@import "user_dashboard/shop/edit-shop";
@import "categories/categories";
