* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif !important;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: black !important;
}

button, input {
    outline: none;
    border: none;
}

@import "~bootstrap/scss/bootstrap";

// Importation des fichiers scss
@import "home/home.scss";
@import "layout/navigation.scss";
@import "catalog/catalog";
@import "about/about";
@import "account/account";
@import "security/login";
@import "security/registration";
@import "catalog/product";
@import "categories/categories";
