* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, button, textarea {
    font-family: "Maison Neue", "Helvetica Neue", "Arial", sans-serif;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: black !important;
}

button, input {
    outline: none;
    border: none;
}

@import "~bootstrap/scss/bootstrap";

// Importation des fichiers scss
@import "home/home.scss";
@import "layout/navigation.scss";