<form class="mt-2" method="post" action="{{ path('app_user_dashboard_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Êtes-vous bien certains de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="delete-button">Supprimer</button>
</form>
