<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% if ('app_user_dashboard_' not in app.request.get('_route')) and (app.request.pathinfo not in ['/login', '/register']) %}
        <nav class="navigation">
            <div class="navigation_body">
                <div class="navigation_logo">
                    <img src="{{ asset("build/images/logo.png") }}" alt="" width="25%">
                </div>
                <div class="main-navigation">
                    <ul class="navigation_menu">
                        <li>
                            <a href="{{ path('app_home') }}" class="nav_link">Accueil</a>
                        </li>
                        <li>
                            <a href="{{ path('app_list_categories') }}" class="nav_link">Catégories</a>
                        </li>
                        <li>
                            <a href="{{ path('app_product_index') }}" class="nav_link">Produits</a>
                        </li>
                        <li>
                            <a href="{{ path('app_about') }}" class="nav_link">À propos</a>
                        </li>
                    </ul>
                </div>
                <div class="list_buttons_head">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('app_account') }}"><button>Profil</button></a>
                        <a href="{{ path('app_logout') }}"><button>Déconnexion</button></a>
                    {% else %}
                        <a href="{{ path('app_login') }}"><button>Se connecter</button></a>
                        <a href="{{ path('app_register') }}"><button>S'inscrire</button></a>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
