<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navigation">
            <div class="navigation_head">
                <div class="navigation_logo">
                    <img src="{{ asset("build/images/logo.png") }}" alt="" width="25%">
                </div>
            </div>
            <div class="navigation_list">
                <ul class="navigation_menu">
                    <li>
                        <a href="" class="nav_link">Accueil</a>
                    </li>
                    <li>
                        <a href="" class="nav_link">Catégories</a>
                    </li>
                    <li>
                        <a href="" class="nav_link">produits</a>
                    </li>
                    <li>
                        <a href="" class="nav_link">À propos</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
