.home {
  .banner_header {
    background: center/cover url('../../../public/build/images/header/banner_4.jpg');
    height: 400px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header_title {
    font-family: 'Poppins', sans-serif !important;
    font-size: 100px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .line_separator {
    width: 45%;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 40px;
  }

  .button_header {
    background-color: #FFFFFF;
    color: black;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 15px;
    padding: 15px 20px;
    letter-spacing: 0.5px;
  }

  .button_header:hover {
    background-color: black;
    color: white;
  }

  .popular_categories {
    padding: 40px;
  }

  .popular_categories h2 {
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
  }

  .list_popular_categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .single_category {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    width: 18%;
  }

  .single_category h4 {
    padding: 15px;
    margin-bottom: 0;
    text-align: center;
  }

  .single_category img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .shop_container {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E7E5D9;
    margin: 20px auto 50px auto;
  }

  .left_column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  .left_column h3 {
    font-family: 'Verdana', sans-serif !important;
  }

  .left_column p {
    width: 80%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .left_column button {
    border: 2px solid black;
    padding: 11px;
    background: none;
    font-size: 13px;
  }

  .right_column {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 50px;
  }

  .list_icons_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .list_icons_container div {
    width: 40%;
    padding: 30px;
    border-right: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;

    img {
      margin-bottom: 15px;
    }
  }

  footer {
    width: 100%;
    background-color: #EBEBEB;
  }

  footer ul {
    margin-bottom: 0;
    padding: 0;
  }

  footer ul li {
    margin-bottom: 5px;
  }

  footer a {
    font-weight: lighter;
    font-size: 14px;
  }

  footer a:hover {
    text-decoration: underline !important;
  }

  .list_footer_title {
    font-weight: 600;
  }

  .row_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
  }
}