.categories {

  .cardCategories {
    display: flex;
    flex-wrap: wrap;
  }

  h1 {
    font-family: 'Bebas Neue', sans-serif !important;
    margin-top: 4%;
    margin-bottom: 8%;
    text-align: center !important;
    font-size: 55px;
    letter-spacing: 1px;
  }

  .singleCard {
    display: flex;
    flex-direction: column;
    width: 19%;
    margin-left: 3% !important;
    margin-right: 3% !important;
    margin-bottom: 50px;

    img {
      height: 350px;
      width: 270px;
      object-fit: cover;
    }
  }

  p{
    margin-top: 10px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

}